#main-div {
    color: rgb(52, 197, 149);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid black;
    text-align: center;
    background-color: black;
}